<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <p>{{count}}</p>
    <input type="button" value="Sumar" @click="increment">
  </div>
</template>

<script>

export default {
  name: 'App',
  data() {
    return {
      count: 0
    }
  },
  methods: {
    increment() {
      this.count += 1;
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
